<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
        <div class="mt-18 text-2xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">Add Client
        </div>
        <mat-card class="p-6 mt-2 ">
            <div class="relative flex flex-col  sm:flex-row flex-0 sm:items-center sm:justify-between px-4 md:px-8">
                <form class="mt-8" [formGroup]="addClientForm" #resetPasswordNgForm="ngForm">
                    <mat-form-field class="w-full">
                        <mat-label>Company name</mat-label>
                        <input id="FirstName" matInput [formControlName]="'Clientname'">
                        <mat-error *ngIf="addClientForm.get('Clientname').hasError('required')">
                            company name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-label class="pt-2">Logo</mat-label>
                    <ngx-dropzone class="dark:bg-gray-800"
                        style="width: 100%; height: 100px; padding: 20px; border: 1px dotted #ccc !important;"
                        (change)="uploadAttachment($event)">
                        <ngx-dropzone-label style="font-size: 12px;">Drop and drop or click here to poc
                            or click on empty space <br>Accepts
                            .jpg, .png
                        </ngx-dropzone-label>
                    </ngx-dropzone>

                    <!-- Submit button -->
                    <button class="helpdesk-mat-button-large w-full mt-6 uppercase" mat-flat-button [color]="'primary'"
                        [disabled]="addClientForm.disabled" (click)="addClient()">
                        <span *ngIf="!addClientForm.disabled">
                            Submit
                        </span>
                        <mat-progress-spinner *ngIf="addClientForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </mat-card>
    </div>
</div>