<div class="w-full max-w-120 sm:w-80 mx-auto sm:mx-0">
    <!-- Title -->
    <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Confirmation required</div>
    <div class="mt-4">
        We received your request to create an account. You will receive an email when the account is confirmed from us.
        Follow those instructions to confirm your email address and activate your account.
    </div>

    <!-- Form footer -->
    <div class="mt-8 text-md font-medium text-secondary">
        <span>Return to</span>
        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/auth/signin']">sign in
        </a>
    </div>
</div>