<div class="w-full max-w-120 sm:w-80 mx-auto sm:mx-0">

    <!-- Title -->
    <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</div>
    <div class="flex items-baseline mt-0.5 font-medium">
        <div>Don't have an account?</div>
        <a
            class="ml-1 text-primary-500 hover:underline"
            [routerLink]="['/auth/signup']">Request here
        </a>
    </div>

    <!-- Alert -->
    <helpdesk-alert
        class="mt-8"
        *ngIf="showAlert"
        [appearance]="'outline'"
        [showIcon]="false"
        [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </helpdesk-alert>

    <!-- Sign in form -->
    <form
        class="mt-8"
        [formGroup]="signInForm"
        #signInNgForm="ngForm">

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>Email address</mat-label>
            <input
                id="Email"
                matInput
                [formControlName]="'Email'">
            <mat-error *ngIf="signInForm.get('Email').hasError('required')">
                Email address is required
            </mat-error>
            <mat-error *ngIf="signInForm.get('Email').hasError('Email')">
                Please enter a valid Email address
            </mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input
                id="Password"
                matInput
                type="password"
                [formControlName]="'Password'"
                #PasswordField>
            <button
                mat-icon-button
                type="button"
                (click)="PasswordField.type === 'Password' ? PasswordField.type = 'text' : PasswordField.type = 'Password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="PasswordField.type === 'Password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="PasswordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error>
                Password is required
            </mat-error>
        </mat-form-field>

        <!-- Actions -->
        <div class="inline-flex items-center justify-between w-full mt-1.5">
            <a
                class="text-md font-medium text-primary-500 hover:underline"
                [routerLink]="['/auth/forgot-password']">Forgot Password?
            </a>
        </div>

        <!-- Submit button -->
        <button
            class="helpdesk-mat-button-large uppercase w-full uppercase mt-6"
            mat-flat-button
            [color]="'primary'"
            [disabled]="signInForm.disabled"
            (click)="signIn()">
            <span *ngIf="!signInForm.disabled">
                Sign in
            </span>
            <mat-progress-spinner
                *ngIf="signInForm.disabled"
                [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>         
    </form>
</div>