<div class="w-full max-w-120 sm:w-80 mx-auto sm:mx-0">
    <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Request for account</div>
    <div class="flex items-baseline mt-0.5 font-medium">
        <div>Already have an account?</div>
        <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/auth/signin']">Sign in
        </a>
    </div>

    <!-- Alert -->
    <helpdesk-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </helpdesk-alert>

    <!-- Sign Up form -->
    <form class="mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm">
        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>First name</mat-label>
            <input id="FirstName" matInput [formControlName]="'FirstName'">
            <mat-error *ngIf="signUpForm.get('FirstName').hasError('required')">
                First name is required
            </mat-error>
        </mat-form-field>
        <!-- Name field -->
        <mat-form-field class="w-full">
            <mat-label>Last name</mat-label>
            <input id="LastName" matInput [formControlName]="'LastName'">
            <mat-error *ngIf="signUpForm.get('LastName').hasError('required')">
                Last name is required
            </mat-error>
        </mat-form-field>

        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>Email address</mat-label>
            <input id="Email" matInput [formControlName]="'Email'">
            <mat-error *ngIf="signUpForm.get('Email').hasError('required')">
                Email address is required
            </mat-error>
            <mat-error *ngIf="signUpForm.get('Email').hasError('Email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Contact No</mat-label>
            <input id="Phone" matInput [formControlName]="'Phone'">
            <mat-error *ngIf="signUpForm.get('Phone').hasError('required')">
                Contact no is required
            </mat-error>
        </mat-form-field>

        <!-- Company field -->
        <mat-form-field class="w-full">
            <mat-label>Company</mat-label>
            <input id="company-confirm" matInput [formControlName]="'CompanyName'">
            <mat-error *ngIf="signUpForm.get('CompanyName').hasError('required')">
                Company is required
            </mat-error>
        </mat-form-field>


        <!-- Submit button -->
        <button class="helpdesk-mat-button-large w-full mt-6 uppercase" mat-flat-button [color]="'primary'"
            [disabled]="signUpForm.disabled" (click)="signUp()">
            <span *ngIf="!signUpForm.disabled">
                Submit
            </span>
            <mat-progress-spinner *ngIf="signUpForm.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

    </form>
</div>