<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10">
        <div class="mt-18 text-2xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">Change Password
        </div>
        <mat-card class="p-6 mt-2 ">
            <div class="relative flex flex-col  sm:flex-row flex-0 sm:items-center sm:justify-between px-4 md:px-8">
                <form class="mt-8" [formGroup]="changePasswordForm" #resetPasswordNgForm="ngForm">

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>Old Password</mat-label>
                        <input id="Password" matInput type="password" [formControlName]="'OldPassword'" #passwordField>
                        <button mat-icon-button type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-hint>Password should have minimum 12 characters</mat-hint>
                        <mat-error *ngIf="changePasswordForm.get('OldPassword').hasError('required')">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.get('OldPassword').hasError('MinLength')">
                            Minium length should be 12 character
                        </mat-error>
                    </mat-form-field>

                    <!-- Password confirm field -->
                    <mat-form-field class="w-full pt-2">
                        <mat-label>Password (Confirm)</mat-label>
                        <input id="Password-confirm" matInput type="password" [formControlName]="'NewPassword'"
                            #passwordConfirmField>
                        <button mat-icon-button type="button"
                            (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="changePasswordForm.get('NewPassword').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="changePasswordForm.get('NewPassword').hasError('mustMatch')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="helpdesk-mat-button-large uppercase w-full mt-3" mat-flat-button [color]="'primary'"
                        [disabled]="changePasswordForm.disabled" (click)="changePassword()">
                        <span *ngIf="!changePasswordForm.disabled">
                            Change your password
                        </span>
                        <mat-progress-spinner *ngIf="changePasswordForm.disabled" [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>


                </form>
            </div>
        </mat-card>

    </div>
</div>